html,
body {
  background: var(--bs-neutral-100);
}
/* solid button */
.btn {
  border-radius: 4px;
  font-weight: 500;
  border: 1px solid transparent;
  padding: 0;
}
.btn:hover {
  border: 1px solid transparent;
}
.btn:focus {
  border: 1px solid transparent !important;
}
.btn:active {
  box-shadow: none;
}
.btn-ex-lg {
  height: 56px;
  font-size: 1rem !important;
  padding: 0 1rem !important;
}
.btn-lg {
  height: 56px;
  font-size: 1rem !important;
  padding: 0 1rem !important;
}
.btn-md {
  height: 48px;
  font-size: 1rem !important;
  padding: 0 1rem !important;
}
.btn-sm {
  height: 40px;
  font-size: 0.875rem !important;
  padding: 0 1rem !important;
}
.btn-ex-sm {
  height: 32px;
  font-size: 0.875rem !important;
  padding: 0 1rem !important;
}
.btn-exx-sm {
  height: 24px;
  font-size: 0.75rem !important;
  padding: 0 1rem !important;
}

/* primary or brand button */
.btn-primary {
  background: var(--bs-primary-500);
  color: var(--bs-white);
}
.btn-primary:hover {
  background: var(--bs-primary-600);
  color: var(--bs-white);
}
.btn-primary:focus {
  background: var(--bs-primary-600) !important;
  color: var(--bs-white);
}

.btn-primary {
  --bs-btn-active-bg: var(--bs-primary-600);
  --bs-btn-active-border-color: 1px solid transparent;
}

/* primary or brand button */

/* secondary button */

.btn-secondary {
  background: var(--bs-white);
  color: var(--bs-neutral-900);
}
.btn-secondary:hover {
  background: var(--bs-primary-600);
  color: var(--bs-white);
}
.btn-secondary:focus {
  background: var(--bs-primary-600) !important;
  color: var(--bs-white) !important;
}
/* secondary button */

/* success button */

.btn-success {
  background: var(--bs-success-500);
  color: var(--bs-white);
}
.btn-success:hover {
  background: var(--bs-success-600);
  color: var(--bs-white);
}
.btn-success:focus {
  background: var(--bs-success-600) !important;
  color: var(--bs-white) !important;
}
/* success button */

/* danger button */
.btn-danger {
  background: var(--bs-danger-500);
  color: var(--bs-white);
}
.btn-danger:hover {
  background: var(--bs-danger-600);
  color: var(--bs-white);
}
.btn-danger:focus {
  background: var(--bs-danger-600) !important;
  color: var(--bs-white) !important;
}
/* danger button */

/* warning button */

.btn-warning {
  background: var(--bs-warning-500);
  color: var(--bs-white);
}
.btn-warning:hover {
  background: var(--bs-warning-600);
  color: var(--bs-white);
}
.btn-warning:focus {
  background: var(--bs-warning-600) !important;
  color: var(--bs-white) !important;
}
/* warning button */

/* info button */
.btn-info {
  background: var(--bs-info-500);
  color: var(--bs-white);
}
.btn-info:hover {
  background: var(--bs-info-600);
  color: var(--bs-white);
}
.btn-info:focus {
  background: var(--bs-info-600) !important;
  color: var(--bs-white) !important;
}
/* info button */

/* link button */
.btn-link {
  color: var(--bs-primary-500);
  text-decoration: none;
}
.btn-link:hover {
  color: var(--bs-primary-600);
}
.btn-link:focus {
  color: var(--bs-primary-600) !important;
}
/* link button */

/* primary or brand outline button */
.btn-outline-primary {
  border: 1px solid var(--bs-primary-500) !important;
  color: var(--bs-primary-500);
  background: var(--bs-primary-50);
}
.btn-outline-primary:hover {
  background: var(--bs-primary-600);
  color: var(--bs-white);
}
.btn-outline-primary:focus {
  background: var(--bs-primary-600) !important;
  color: var(--bs-white);
}
/* primary or brand outline button */

/* secondary button */

.btn-outline-secondary {
  border: 1px solid var(--bs-neutral-300) !important;
  color: var(--bs-neutral-900);
  background: var(--bs-white);
}
.btn-outline-secondary:hover {
  background: var(--bs-primary-600);
  color: var(--bs-white);
}
.btn-outline-secondary:focus {
  background: var(--bs-primary-600) !important;
  color: var(--bs-white) !important;
}

/* outline secondary button */

/* outline success button */

.btn-outline-success {
  border: 1px solid var(--bs-success-500) !important;
  color: var(--bs-success-500);
  background: var(--bs-success-50);
}
.btn-outline-success:hover {
  background: var(--bs-success-600);
  color: var(--bs-white);
}
.btn-outline-success:focus {
  background: var(--bs-success-600) !important;
  color: var(--bs-white) !important;
}
/* outline success button */

/* outline danger button */
.btn-outline-danger {
  border: 1px solid var(--bs-danger-500) !important;
  color: var(--bs-danger-500);
  background: var(--bs-danger-50);
}
.btn-outline-danger:hover {
  background: var(--bs-danger-600);
  color: var(--bs-white);
}
.btn-outline-danger:focus {
  background: var(--bs-danger-600) !important;
  color: var(--bs-white) !important;
}
/* outline danger button */

/* outline warning button */

.btn-outline-warning {
  border: 1px solid var(--bs-warning-500) !important;
  color: var(--bs-warning-500);
  background: var(--bs-warning-50);
}
.btn-outline-warning:hover {
  background: var(--bs-warning-600);
  color: var(--bs-white);
}
.btn-outline-warning:focus {
  background: var(--bs-warning-600) !important;
  color: var(--bs-white) !important;
}
/* outline warning button */

/* info outline button */
.btn-outline-info {
  border: 1px solid var(--bs-info-500) !important;
  color: var(--bs-info-500);
  background: var(--bs-info-50);
}
.btn-outline-info:hover {
  background: var(--bs-info-600);
  color: var(--bs-white);
}
.btn-outline-info:focus {
  background: var(--bs-info-600) !important;
  color: var(--bs-white) !important;
}
/* info button */

/* badge */

.badge {
  --bs-badge-font-weight: 500;
  --bs-badge-border-radius: 4px;
}
.text-bg-primary {
  color: var(--bs-white) !important;
  background-color: var(--bs-primary-500) !important;
}
.text-bg-secondary {
  color: var(--bs-neutral-900) !important;
  background-color: var(--bs-white) !important;
}
.text-bg-success {
  color: var(--bs-white) !important;
  background-color: var(--bs-success-500) !important;
}
.text-bg-danger {
  color: var(--bs-white) !important;
  background-color: var(--bs-danger-500) !important;
  border-radius: 50%;
}
.text-bg-warning {
  color: var(--bs-white) !important;
  background-color: var(--bs-warning-500) !important;
}
.text-bg-info {
  color: var(--bs-white) !important;
  background-color: var(--bs-info-500) !important;
}
.text-bg-orange {
  color: var(--bs-white) !important;
  background-color: var(--bs-orange-500) !important;
}

/* badge */

/* alert component */
.alert {
  --bs-alert-margin-bottom: 0;
  --bs-alert-border: 0;
  --bs-alert-border-radius: 4px;
  font-weight: 500;
  --bs-alert-border-color: none;
  width: fit-content;
}
.alert-lg {
  --bs-alert-padding-x: 0.625rem !important;
  --bs-alert-padding-y: 0.438rem !important;
  font-size: 18px;
  line-height: 26px;
}
.alert-md {
  --bs-alert-padding-x: 0.525rem !important;
  --bs-alert-padding-y: 0.25rem !important;
  font-size: 16px;
  line-height: 24px;
  /* height:32px; */
}
.alert-sm {
  --bs-alert-padding-x: 0.425rem !important;
  --bs-alert-padding-y: 0.125rem !important;
  font-size: 14px;
  line-height: 20px;
  --bs-alert-padding-y: 0.125rem;
  /* height:24px; */
}
.alert-ex-sm {
  --bs-alert-padding-x: 6px !important;
  --bs-alert-padding-y: 1px !important;
  font-size: 10px;
  font-weight: 600 !important;
  line-height: 14px;
  /* height: 16px; */
}
.alert .fa-circle {
  font-size: 8px;
}
.alert-primary {
  --bs-alert-color: var(--bs-white);
  --bs-alert-bg: var(--bs-primary-500);
}
.alert-success {
  --bs-alert-color: var(--bs-white);
  --bs-alert-bg: var(--bs-success-500);
}
.alert-danger {
  --bs-alert-color: var(--bs-white);
  --bs-alert-bg: var(--bs-danger-500);
}
.alert-warning {
  --bs-alert-color: var(--bs-white);
  --bs-alert-bg: var(--bs-warning-500);
}
.alert-info {
  --bs-alert-color: var(--bs-white);
  --bs-alert-bg: var(--bs-info-500);
}

.alert-cyan {
  --bs-alert-color: var(--bs-white);
  --bs-alert-bg: #06b6d4;
}
.alert-orange {
  --bs-alert-color: var(--bs-white);
  --bs-alert-bg: var(--bs-orange-500);
}

/* alert variation 2 */
.alert-primary-50 {
  background: var(--bs-primary-50);
  color: var(--bs-primary-500);
}
.alert-success-50 {
  background: var(--bs-success-50);
  color: var(--bs-success-500);
}
.alert-info-50 {
  background: var(--bs-info-50);
  color: var(--bs-info-500);
}
.alert-warning-50 {
  background: var(--bs-warning-50);
  color: var(--bs-warning-500);
}
.alert-danger-50 {
  background: var(--bs-danger-50);
  color: var(--bs-danger-500);
}
.alert-orange-50 {
  background: var(--bs-orange-50);
  color: var(--bs-orange-500);
}
.alert-cyan-50 {
  background: var(--bs-orange-50);
  color: var(--bs-orange-500);
}
.alert-neutral-50 {
  background: var(--bs-neutral-50);
  color: var(--bs-neutral-500);
}
/* alert variation 2 */

/* end alert component */

/* pagination component */
.pagination {
  --bs-pagination-color: var(--bs-neutral-600);
  --bs-pagination-bg: var(--bs-white);
  --bs-pagination-hover-color: var(--bs-white);
  --bs-pagination-hover-bg: var(--bs-primary-500);
  --bs-pagination-focus-color: var(--bs-white);
  --bs-pagination-active-color: var(--bs-white);
  --bs-pagination-active-bg: var(--bs-primary-500);
  --bs-pagination-focus-bg: var(--bs-primary-500);
}
.pagination .page-item:first-child .page-link {
  background: var(--bs-neutral-200) !important;
  color: var(--bs-neutral-900) !important;
}
.pagination .page-item:last-child .page-link {
  background: var(--bs-neutral-200) !important;
  color: var(--bs-neutral-900) !important;
}
.pagination .page-link {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid var(--bs-neutral-300);
  border-radius: 4px;
}
.page-link:focus {
  box-shadow: none;
}
/* end pagination component */

/* card component */
.card {
  border: 0;
  cursor: pointer;
  background: var(--bs-white);
  box-shadow: none;
  box-shadow: none;
  border-radius: 0.625rem;
  position: relative;
}

/* input form */

.form-control {
  padding: 0.532rem 0.75rem;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid var(--bs-neutral-300);
  color: var(--bs-neutral-900);
  /* background: var(--bs-neutral-50); */
}
.form-control:focus {
  border: 1px solid var(--bs-primary-500);
  background: var(--bs-neutral-50);
  color: var(--bs-neutral-900);
}
.form-control:focus::-webkit-input-placeholder {
  color: var(--bs-neutral-300);
}

.form-label {
  font-size: 14px;
}
/* input form */

/* checkbox radio and switch */
.form-check-input:checked[type="radio"] {
  background-size: 20px;
}
.form-check-input:checked[type="checkbox"] {
  /* background-image: url(../images/master_icon/checkbox.png); */
  background-size: 14px;
}
.form-check-input:checked {
  background-color: var(--bs-primary-500);
}
.form-check-input {
  width: 20px;
  height: 20px;
  vertical-align: top;
  outline: none;
  margin-top: 0px;
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid var(--bs-neutral-300) !important;
  transition: none;
  border-radius: 3px !important;
  cursor: pointer;
}
.form-check {
  display: flex;
  margin-bottom: 0;
  align-items: center;
}
.form-check .form-check-label {
  font-weight: 400;
  color: var(--bs-neutral-900);
  cursor: pointer;
  font-size: 14px;
}
.form-check-input[type="radio"] {
  border-radius: 50% !important;
}
.form-switch .form-check-input.switch {
  /* background-image: url(../images/master_icon/ellips.png); */
}
.form-switch .switch {
  width: 50px;
  height: 24px;
  background: var(--bs-neutral-300);
  background-repeat: no-repeat;
  background-position: left 2px center;
  border: 1px solid transparent !important;
  border-radius: 50px !important;
}
.form-switch .form-check-input:focus {
  background-image: none !important;
}
.form-switch .form-check-input.switch:focus {
  /* background-image: url(../images/master_icon/ellips.png) !important; */
}
.form-check-input.switch:checked {
  background-color: var(--bs-primary-500);
  border-color: transparent !important;
}
.form-switch .form-check-input:checked {
  background-position: right 2px center;
}
.form-check-input:checked[role="switch"] {
  /* background-image: url(../images/master_icon/ellips.png) !important; */
  background-size: 18px;
}
/* end checkbox radio and switch */

/* modal */
.modal-header .btn-close {
  padding: 10px;
  /* background-image: url(../images/icon/message_icon/btn_close_icon.svg); */
  opacity: 1;
  width: 20px;
  height: 20px;
}
.modal-header .btn-close:hover {
  color: var(--bs-primary-500);
}
.modal-header .btn-close:focus {
  box-shadow: none;
}
.modal-header {
  padding: 10px 16px 0 16px;
  border: 0;
}
.message-modal .modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px 34px 16px;
}

.message-modal .modal-content {
  border-radius: 24px;
}
/* modal */
